    .footer .footer-top {
        display: block;
    }
    
    .footer .footer-top .first-sec {
        position: relative;
        width: 100%;
    }
    
    .footer .footer-top .first-sec .footer-logo {
        display: flex;
        justify-content: center;
    }
    
    .footer .footer-top .first-sec .footer-logo img {
        position: relative;
        width: 64vw;
    }
    
    .footer .footer-top .second-sec .list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer .footer-top .second-sec .company-link-head {
        display: flex;
        justify-content: center;
    }
    
    .footer .footer-top .contact-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }