.user_info{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card_content{
    background-color: rgb(0 0 0 / 7%);
    display: block;
    position: relative;
    width: 35rem;
    height: 50rem;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    overflow-y: auto;

}
.head{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.detail_content{
    font-size: 1.4rem;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 25px;
}
.user_name{
    margin-bottom: 20px;
    font-size: 20px;
}
.timimg_detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dat{
    margin: 5px;
}